html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0a2647; /* Azul de fondo por defecto */
  overflow: hidden; /* Previene scrolls blancos */
}

.bg-dark-blue {
  background-color: #1e3c72 !important;
}

.text-dark-blue {
  color: #1e3c72 !important;
}

.btn-primary {
  background-color: #1e3c72 !important;
  color: #fff; 
  border: none !important;
}

.btn-primary:hover {
  background-color: #162955 !important;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: white;
}

.btn-outline-primary:hover {
  background-color: #0d6efd;
  color: white;
}

.welcome-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: #0a2647;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease;
}

/* Solo el texto se desvanece */
.welcome-text {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
/* Animación solo del texto */
@keyframes textFadeOut {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  30% {
    opacity: 1;
    transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}



