.bg-dark-blue {
  background-color: #1e3c72 !important;
}

.text-dark-blue {
  color: #1e3c72 !important;
}

.btn-primary {
  background-color: #1e3c72 !important;
  color: #fff; 
  border: none !important;
}

.btn-primary:hover {
  background-color: #162955 !important;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: white;
}

.btn-outline-primary:hover {
  background-color: #0d6efd;
  color: white;
}




